.h-hide {
    display: none !important;
}

form {
    position: relative;
    width: 1024px;
}

.notification {
    position: absolute;
    top: 7px;
    right: 8px;
    max-width: 700px;
    text-align: right;
}

.menu {
    display: flex;
}

/* COMPONENTS TAB */
.components {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.components__left {
    flex: 1 0 22%;
}

.components__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 4px 8px;
}

.components__row input[type=number] {
    width: 50px;
}

.components__row--mr8 {
    margin-right: 8px;
}

.components__center {
    flex: 1 0 33%;
    padding: 0 0 0 2%;
}

.components__center-preview {
    padding: 10px;
    background: #fff;
    margin: 0 8px;
}

.components__center-preview img {
    display: block;
    width: 100%;
    height: 260px;
    object-fit: contain;
}

.components__right {
    flex: 1 0 45%;
}

.components__right textarea {
    height: 320px;
}

.components__right-buttons {
    display: flex;
    flex-wrap: wrap;
}

.components__right-buttons button {
    flex: 1 0 25%;
}

/* VARIABLES TAB */
.variables {
    display: flex;
    flex-wrap: wrap;
}

.variables textarea {
    height: 320px;
}

.variables__left {
    flex: 1 0 50%;
}

.variables__right {
    flex: 1 0 50%;
}
