.h-hide {
    display: none !important;
}

form {
    position: relative;
    width: 1024px;
}

.notification {
    position: absolute;
    top: 7px;
    right: 8px;
    max-width: 700px;
    text-align: right;
}

.menu {
    display: flex;
}

/* COMPONENTS TAB */
.components {
    display: flex;
    flex-wrap: wrap;
}

.components__left {
    flex: 1 0 40%;
}

.components__left-preview {
    padding: 10px;
    background: #fff;
    margin: 0 8px;
}

.components__left-preview img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.components__right {
    flex: 1 0 60%;
}

.components__right textarea {
    height: 320px;
}

.components__right-buttons {
    display: flex;
    flex-wrap: wrap;
}

.components__right-buttons button {
    flex: 1 0 25%;
}

/* VARIABLES TAB */
.variables {
    display: flex;
    flex-wrap: wrap;
}

.variables textarea {
    height: 320px;
}

.variables__left {
    flex: 1 0 50%;
}

.variables__right {
    flex: 1 0 50%;
}
